.__prosemirror-dev-tools__ > div {
  z-index: 99999999;
}

.ProseMirror .is-empty::before {
  color: var(--text-disabled);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror img:hover {
  cursor: pointer;
}

.ProseMirror img.ProseMirror-selectednode {
  border-color: white;
}

.ProseMirror p {
  padding: 0px;
  margin: 0px;
  font-weight: 380;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0em;
}

.ProseMirror strong {
  font-weight: 520;
}

.ProseMirror blockquote {
  padding: 0px;
  margin: 0px;
  border-left: 2px solid var(--accent-dark-blue-primary);
  padding-left: 12px;
}

.ProseMirror-focused {
  border: none;
  outline: none;
}

.ProseMirror ol,
.ProseMirror ul {
  padding-left: 30px;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: var(--text-disabled);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.toolbar-dropdown > .optionMenu {
  background: var(--bg-emphasis) !important;
}

.ProseMirror code {
  color: var(--text-link);
  font-family: 'Skiff Mono', monospace;
  -webkit-font-smoothing: antialiased;
  padding: 0px 4px;
  box-shadow: var(--inset-empty);
  border-radius: 4px;
  background: var(--bg-overlay-tertiary);
}

.ProseMirror ol ol ol ol ol,
.ProseMirror ol ol ol ol ol ol ol ol,
.ProseMirror ol ol {
  list-style-type: lower-alpha;
}

.ProseMirror ol ol ol ol ol ol,
.ProseMirror ol ol ol ol ol ol ol ol ol,
.ProseMirror ol ol ol {
  list-style-type: upper-roman;
}

.ProseMirror ol,
.ProseMirror ol ol ol ol ol ol ol,
.ProseMirror ol ol ol ol ol ol ol ol ol ol,
.ProseMirror ol ol ol ol {
  list-style-type: decimal;
}

.ProseMirror hr {
  margin: 16px auto;
  background: #7d7d7d;
  border: none;
  height: 1px;
}
