.MuiCalendarPicker-root {
  color: var(--text-primary);

  .MuiTypography-root {
    color: var(--text-primary);


    &:disabled {
      color: var(--text-disabled) !important;
    }
  }

  .MuiButtonBase-root {
    background-color: transparent;
    color: var(--text-primary);

    &:hover {
      background-color: var(--bg-cell-hover);
    }

    .Mui-disabled * {
      color: var(--text-disabled) !important;
    }

  }

  .Mui-selected {
    background-color: var(--icon-link) !important;
    color: var(--text-always-white) !important;
  }

  .Mui-disabled {
    .MuiSvgIcon-root {
      color: var(--icon-disabled);
    }

    &.Mui-selected {
      background-color: var(--accent-orange-secondary) !important;
    }
  }

  .MuiSvgIcon-root {
    color: var(--icon-primary);
  }

  .MuiPickersDay-today:not(.Mui-selected) {
    border: 1px solid var(--border-primary);
  }

}
